{% load static %}
<div class="site-header">
  <div id="top-nav">
    <div class="search-wrapper container">
      <form action="">
        <div>
          <input type="text" class="form-control search" placeholder="Search...">
          {% comment %} <a href="#" rel="noopener noreferrer">{% lucide "search" %}</a> {% endcomment %}
        </div>
      </form>
    </div>
  </div>
  <div id="middle-topbar">
    <div id="middle-top-content" class="container">
      <div id="topbar-left">
        <a id="topbar-logo" href="{% url 'pwms:home' %}">
          <img src="{% static "images/parliament-logo2.png" %}"
               alt="parliament logo"
               srcset="">
        </a>
      </div>
      <div id="topbar-center">
        <h1 class="title">PWMS</h1>
        <h6 class="subtitle">PARLIAMENT WORKFLOW MANAGEMENT SYSTEM</h6>
      </div>
      <div id="topbar-right">
        <div id="parliament-sitting"></div>
      </div>
    </div>
  </div>
</div>
