<div id="desktop-nav" class="sticky-top">
  <div id="desktop-nav-container" class="container">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        {% comment %} <a class="navbar-brand" href="#">PWMS</a> {% endcomment %}
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-start"
             tabindex="-1"
             id="offcanvasNavbar"
             aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">PWMS</h5>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-start flex-grow-1 pe-3 dropdown menu"
                id="main-horiz-menu">
              <li class="nav-item">
                <a class="nav-link active"
                   aria-current="page"
                   href="{% url "pwms:home" %}">{% lucide "house" %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url "pwms:dashboard" %}">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url "pwms:workflows" %}"" >Workflows</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                aria-expanded="false">Groups</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url "pwms:groups" %}">My Groups</a></li>
                  <li><a class="dropdown-item" href="#">All Groups</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                aria-expanded="false">Reports</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url "pwms:reports" %}">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  {% comment %} <li>
                        <hr class="dropdown-divider">
                  </li> {% endcomment %}
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url "pwms:about" %}">About</a>
              </li>
            </ul>
            <div class="auth-menu">
              {% if user.is_authenticated %}
                <span class="auth-status">
                  {% lucide "circle-user" size=20 %}
                  <span>{{ user.get_full_name|default:user.get_username }}</span>
                </span>
                <a class="nav-link auth-action"
                  href="{% url "pwms:logout" %}"
                  title="Sign out">
                  {% lucide "log-out" size=20 %}
                  <span>Log out</span>
                </a>
              {% else %}
                <span class="auth-status">
                  {% lucide "user" size=20 %}
                  <span>Not signed in</span>
                </span>
                <a class="nav-link auth-action" href="{% url "pwms:login" %}">
                  {% lucide "log-in" size=20 %}
                  <span>Log in</span>
                </a>
              {% endif %}
            </div>
            {% comment %} <form class="d-flex mt-3" role="search">
              <input class="form-control me-2"
                     type="search"
                     placeholder="Search"
                     aria-label="Search" />
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> {% endcomment %}
          </div>
        </div>
        {% comment %} <a class="navbar-brand" href="#">PARLIAMENT WORKFLOW MANAGEMENT SYSTEM</a> {% endcomment %}
      </div>
    </nav>
  </div>
</div>
